<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=0.5"/>

<!-- LOAD CUSTOM STATIC RESOURCES -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css"/>
<script type="text/javascript" src="/js/index.js"></script>

<!-- LOAD BULMA RESOURCES -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css"/>
<script src="https://use.fontawesome.com/7e72056939.js"></script>

<!-- LOAD ANIMATE.CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/animate.css"/>